{% macro top_link(name, text, icon="link") -%}
{% if name != _route_name %}
<li><a href="{{ url_for(name) }}"><i class="fa fa-fw fa-{{icon}}"></i> <span>{{text}}</span></a></li>
{% else %}
<li class="active"><a href="{{ url_for(name) }}"><i class="fa fa-{{icon}}"></i> <span>{{text}}</span></a></li>
{% endif %}
{%- endmacro %}

<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        {{ top_link('show_index', 'Home', 'home') }}
    </ul><!-- /.sidebar-menu -->
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        {{ top_link('show_players', 'Players', 'user') }}
    </ul><!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->